#pizza-order-detail {
  display: none;
}

.center-text {
  text-align: center;
}

.thumbnail {
  margin-bottom: 20px;
}

.pizza-sm {
  width: 56%;
  height: 56%;
  display: block;
  margin: 0 auto;
}

.pizza-md {
  width: 77%;
  height: 77%;
  display: block;
  margin: 0 auto;
}

.pizza-lg {
  display: block;
  margin: 0 auto;
}
